*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

h1{
    font-size: 2.5rem;
    color: brown;
}

.main-container{
    display:grid;
    grid-template-columns: 1fr 4fr;
}

header{
    grid-column: -1/1;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

nav>div:first-child{
    width: 10rem;
    height: 3rem;
}

#new-project-btn,.project-btn,#new-task{
    width: 10rem;
    font-size: 1.5rem;
    background-color: inherit;
    border:none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

#new-project-btn:hover,.project-btn:hover,#new-task:hover{
    box-shadow: 0 0rem 0.2rem 0;
    color: brown;
}

.article > div:first-child{
    height: 3rem;
}

#new-task{
    width: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 50%;
}

.card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
}
